* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    background-image: url(img/bg_main.png);
    color: #555;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
    overflow: overlay;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
    
}

section {
    padding: 80px 0;
}

/* Color: #3e73a5 */


/*====================================================================================================================================================*/
                                                /* LOGO AND NAVIGATION */
/*====================================================================================================================================================*/

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 25px;
    margin-left: -15px;
    
}

.logolink img{
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.logolink img:hover,
.logolink img:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 75px;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    
}


.main-nav li a:link,
.main-nav li a:visited{
    color: #555;;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 90%;
    -webkit-transition: border-bottom 0.25s;
    transition: border-bottom 0.25s;
    padding: 8px 0;
}


.oth:link,
.oth:visited {
    border-bottom: 2px solid transparent;
}


.cs:link,
.cs:visited {
    border-bottom: 2px solid #555;
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #3e73a5;    
    
}

.mobile-nav{
    float: right;
    margin-top: 35px;
    cursor: pointer;
    display: none;
}

.mobile-nav i{
    font-size: 200%;
    color: #555;
}


h2 {
    font-size: 175%;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 4%;
}

.mu:after {
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 74%;
    margin: 0px auto;
}

.mg:after {
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 54%;
    margin: 0px auto;
}

.mub:after{
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 71%;
    margin: 0px auto;
}

.mgb:after{
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 50%;
    margin: 0px auto;
}

.cp{
    margin-bottom: 6%;
}

.cp:after{
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 55%;
    margin: 0px auto;
}

.ch:after{
    display: block;
    height: 3px;
    background-color: #3e73a5;
    content: " ";
    width: 84%;
    margin: 0px auto;
}

h3 {
    font-weight: bolder;
    text-align: center;
    font-size: 130%;    
}

.es:after{
    display: block;
    height: 2px;
    background-color: #555;
    content: " ";
    width: 27%;
    margin: 0px auto;
}

.ps:after{
    display: block;
    height: 2px;
    background-color: #555;
    content: " ";
    width: 25%;
    margin: 0px auto;
}

.solid-cad{
    display: block;
    text-align: center;
}

.cond{
    margin-top: -1%;
    padding-left: 16%;
    font-size: 80%
}

.len{
    padding-top: 1%;
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
}

.ext{
    padding-top: 1%;
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
}

.singlehole{
    width: 60%;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------
                                                                    GRADE SPECS TABLE  
------------------------------------------------------------------------------------------------------------------------------------------ */

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    
}

.styled-table thead tr {
    background-color: #3e73a5;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
    
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3e73a5;
    
}

.styled-table tbody tr.type {
    font-weight: bold;
    text-align: center;
    
}

.grade {
    background-color: rgb(219, 219, 219);    
}

.mub-dia{
    background-color: #f3f3f3;
}

.MGB-dia{
    background-color: #f3f3f3;
}

.ground-cham{
    padding-top: 50px;  
    width: 100%;
    font-weight: bolder;
    font-size: 120%;
    text-align: center;
    padding-bottom: 25px;
}

.ground-cham a{
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

.ground-cham a:link,
.ground-cham a:visited{
    color: #555;
    text-decoration: underline;
}

.ground-cham a:hover,
.ground-cham a:active{
    color: #3e73a5;
}

.pow{
    min-width: 500px;

}

.diameter {
    background-color: lightgray;
    font-weight: 600;
}

.cond-cs{
    text-decoration: underline;
    color: #555; 
}


/* --------------------------------------------------------------------------------------------------------------------------------------- 
                                                                    Footer
 --------------------------------------------------------------------------------------------------------------------------------------- */


footer {
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px; 
    bottom: 0;
    display: block;
    color: black;
}

footer a{
    color: black;
    text-decoration: none;
    
}
.footer-right i {
    background-color: transparent;
    color: black;
    font-size: 25px;
    width: 7%;
    border-radius: 50%;
    text-align: center;
    line-height: 150%;
    margin: 10px 15px;
}

.footer-left {
    width: 50%;
    display: inline-block;
    float: left;
    vertical-align: top;
    padding-top: 2%;
    margin: 0;
}

.footer-nav a{
    padding-right: 4.3%;
}

.footer-company-name{
    font-weight: lighter;
    margin-top: 10%;
}

.footer-right{
    padding-top: 10px;
    float: right;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.info{
    padding-left: 190px;
    
}
.fa {
    display: inline-block;
    text-rendering: auto;
    
}

.fa.fa-map-marker{
    margin-bottom: 3%;
/*    margin-top: -50px;*/
}
.fa.fa-phone{
    margin-bottom: 5.5%;
}

.fa.fa-envelope{
    font-size: 20px;
}

.info-p{
    padding-left: 13.5%;
    margin-top: -12.5%; 

}

.info-ph{
/*    position: relative;*/
    padding-left: 13.5%;
    margin-top: -13%; 

}

.info-pm{
/*    position: relative;*/
    padding-left: 13.5%;
    margin-top: -9%; 

}
    